{
  "isAutofishEnabled": true,
  "multiRod": true,
  "isOpenWaterDetectEnabled": true,
  "noBreak": true,
  "persistentMode": true,
  "useSoundDetection": false,
  "forceMPDetection": true,
  "recastDelay": 1004,
  "randomPercent": 50,
  "reelInDelay": 1,
  "clearLagRegex": "\\[ClearLag\\] Removed [0-9]+ Entities!"
}